aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
appdirs==1.4.4
argcomplete==3.6.2
attrs==25.4.0
autocommand==2.2.2
Automat==25.4.16
babel==2.17.0
beautifulsoup4==4.14.3
build==1.3.0
CacheControl==0.14.4
certifi==2025.11.12
cffi==2.0.0
chardet==5.2.0
charset-normalizer==3.4.4
click==8.2.1
click-log==0.4.0
configobj==5.0.9
constantly==23.10.4
cryptography==46.0.3
cssselect==1.3.0
distro==1.9.0
editables==0.5
filelock==3.20.0
frozenlist==1.8.0
gps==3.27.2
hatchling==1.28.0
html5lib==1.1
hyperlink==21.0.0
hyprshade==4.0.1
icalendar==6.3.2
idna==3.11
incremental==24.7.2
installer==0.7.0
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
khal==0.13.0
lensfun==0.3.4
libmsym==0.2.4
lit==21.1.6.dev0
lockfile==0.12.2
lxml==6.0.2
Mako==1.3.10.dev0
Markdown==3.10
MarkupSafe==3.0.2
meson==1.10.0
more-itertools==10.8.0
msgpack==1.1.2
multidict==6.7.0
netsnmp-python==1.0a1
nftables==0.1
numpy==2.4.0
OpenTimelineIO==0.18.1
packaging==25.0
pathspec==0.12.1
pillow==12.1.0
pipx==1.8.0
platformdirs==4.5.1
pluggy==1.6.0
propcache==0.4.1
psutil==7.1.3
pyaaf2==1.7.1
pycairo==1.29.0
pycparser==2.23
pygdbmi==0.11.0.0
PyGObject==3.54.5
pyproject_hooks==1.2.0
pyserial==3.5
PySide6==6.10.1
python-dateutil==2.9.0
pytz==2025.2
pyxdg==0.28
QtPy==2.4.3
requests==2.32.5
ruff==0.14.10
scour==0.38.2
sentry-sdk==2.47.0
setuptools==80.9.0
shiboken6==6.10.1
shiboken6-generator==6.10.1
six==1.17.0
smbus==1.1
soupsieve==2.8.1
spglib==2.6.1.dev0+gc633404.d20250310
TBB==0.2
tinycss2==1.5.1
tqdm==4.67.1
trove-classifiers==2025.12.1.14
Twisted==24.7.0
typing_extensions==4.15.0
tzlocal==5.3.1
urllib3==2.6.2
urwid==3.0.4
userpath==1.9.2
validate==5.0.9
wcwidth==0.2.14
webencodings==0.5.1
wheel==0.45.1
yarl==1.22.0
yt-dlp==2025.12.8
ytmusicapi==1.11.4
zope.interface==8.1.1
zstandard==0.25.0
